@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #2675cf;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     border-top-left-radius: 225px;
     border-top-right-radius: 225px;
     box-shadow: 25px 25px 75px rgba(0,0,0,0.75),
     10px 50px 70px rgba(0,0,0,0.25), inset 5px 5px 10px rgba(0,0,0,0.5),
     inset 5px 5px 20px rgba(255,255,255,0.2),
     inset -5px -5px 15px rgba(0,0,0,0.75); 
    background: #2f363e;
}


.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}
.analog {
   
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75); 
   background: #ced7e0;
}
.num {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 95%;
    z-index: 50;
    transform: var(--rotation);
}
.hours_needle,
.minutes_needle,
.seconds_needle {
    position: absolute;
    width: 5px;
    height: 60px;
    border-radius: 100vw;
    background-color: #ff0000;
    transform-origin: bottom;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(90deg);
    z-index: 3;
}
.minutes_needle {
    height: 90px;
    background-color: #2306a7;
    transform: translate(-50%, -100%) rotate(45deg);
    z-index: 2;
}
.seconds_needle {
    height: 130px;
    background-color: #3df010;
    transform: translate(-50%, -100%) rotate(0);
    z-index: 1;
}
.dot {
    width: 10px;
    aspect-ratio: 1;
    background-color: #1f1d1d;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 5;
}

.digital {
    text-align: center;
    background-color: rgb(137, 145, 137);
    display:flex;
    margin-bottom: 40px;
    padding: 10px 20px;
    border:2px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    font-size: 2em;
    font-weight: 600;
    margin-top: 7px;
    

}
.hours {
    color: #ff0000;
}
.minutes {
    color: #2306a7;
}
.seconds {
    color: #10f02e;
}